*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}



:root {

    /*---COLORS---*/

    --theme-color: #F5EB2C;
    --header-color:  #7159c1;
    --logo-color: #f1e209;
    --font-color: #fff;

    /*---FONTS---*/

    --title-font:  'Poppins', sans-serif;
    --body-font:  'DM Sans', sans-serif;  
}


body {    
    grid-template-areas:
    "header header header" 
    "main    main   main"
    ".       section  ."
    "footer footer footer";
    grid-template-columns: 1fr 1200px 1fr; 
    background-color: #cccccc;
    font: 400 1rem var(--body-font)
    
}

/*#################### HEADER ####################*/



header {
    position: fixed;
    z-index: 9000;
    width: 100%;
    grid-area: header;
    background-color: #221f1f69;
    height: 4.5rem;   
    grid-template-columns: 75rem;
    justify-content: center;

}

/*#################### LOGO ####################*/

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
    color: var(--logo-color);
    text-decoration: none;
    
}

/*#################### MENU ####################*/

#header-content {
    display:flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;    
}

#header-content li a {
    color: var(--font-color);
    text-decoration: none;
    font: 700 1.1rem var(--body-font);
    text-align: center;
    transition: 0.5s;
      
}


#header-content a:hover{
    border-bottom: 2px solid var(--theme-color);  
    font: 700 1.2rem var(--body-font);
    
}


#menu {
    display: flex;
    list-style: none;
    gap: .5rem;    
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

/*#################### MAIN ####################*/

main {  
    grid-area: main;          

}

.swiper-container {
    width: 100%;
    height: 100%;
      
   
  }

  .swiper-slide {
    
    text-align: center;
    font-size: 18px;
    background: #fff;
    

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;    
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: flex-start;

    
    
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {      
    display: block;
    width: 100%;
    height: 900px;
    object-fit: cover;
    
  }

  .swiper-button-next, .swiper-button-prev {
      color: var(--theme-color)
  }

  .pagination {
    margin-bottom: 2rem;
}  
  
  .swiper-pagination-bullet {     
    border-radius: 0%;
    width: 60px;
    height: 6px;
    background: var(--theme-color);    
    margin: 0 4px;

  }  

  .box-text {           
    text-align: left;
    margin-left: 6rem;
    width: 50%;    
    position:absolute;    
    color: var(--font-color);
    text-shadow: black 0.1em 0.1em 0.2em
    
  }

  .text h1 {
      font: 700 2rem var(--title-font)     
  }

  .modalities {    
     position: absolute;
     top: 10%;
     z-index: 9; 
     width: 100%;    
     
  }

  .title-modalities {      
      text-shadow: black 0.1em 0.1em 0.2em;
      color: var(--font-color);
      display: flex;        
      justify-content: center;
  }

  .title-modalities span {
      
      color: var(--theme-color);
      
      
  }  
  


/*#################### SECTION ####################*/

section {
    grid-area: section;     
    grid-template-areas: 
    "aside content "
    ".     content ";
    grid-template-columns: 15.6rem 1fr;
    grid-template-rows: minmax(0, auto) 1fr;
    margin: 30px 0 5px 0;       
}

.section-content {
    grid-area: content;
    
}

/*#################### section-content ####################*/

.container  {    
   
   grid-template-areas: 
   "item-1 item-2 item-3"
   ". . ." ;
   grid-template-columns: 1fr 1fr 1fr;
   row-gap: 2px;
   --background-item: #ffffff;
   --margin-item: 8px; 
   --margin-item-bottom: 50px;
}

.flex-item-1 {
    
    grid-area: item-1;	
    background-color: var(--background-item);
    margin: var(--margin-item); 
    margin-bottom: var(--margin-item-bottom); 
     
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    
    
}

.flex-item-2 {
	grid-area: item-2;	
    background-color: var(--background-item);
    margin: var(--margin-item);
    margin-bottom: var(--margin-item-bottom);  
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
    
    
}

.flex-item-3 {
	grid-area: item-3;	
    background-color: var(--background-item);
    margin: var(--margin-item); 
    margin-bottom: var(--margin-item-bottom); 
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%); 
   
  
}

.title {
     
    font: 700 1.5rem var(--title-font);    
    display: flex;    
    flex-direction: column;
    justify-content:center;    
    width: 100%;
    height: 4rem;
    background-image: linear-gradient(to bottom , #000000, rgb(49, 49, 49)); 
    color: var(--theme-color);
    margin-bottom: 2rem;
       
}

.title h1 {
    display: flex;     
    margin-top: -1.5rem;
    justify-content:center;
}

.box-subtitle {
    position: relative;
    width: 8rem;  
    display:flex;     
    background: #d52b1e;
    justify-content: center;
    align-items: center;    
    font: 700 1.3rem var(--title-font);  
    top: -40%;
    color:#ffffff;   
    right: 5%;   
}

.box-subtitle::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #87180f;
    bottom: -9.5px;
    left: 1px;
    transform: rotate(45deg);
}

.plan-info {
    padding: 1.5rem;
    
}




/*#################### ASIDE ####################*/

.aside {
    grid-area: aside;   
    padding: 1.8rem;
    border-radius: 0.6rem;
    max-height: 200px;    
    overflow: auto;    
    
    background-color:magenta;
    margin-right: 10px;

}

/*#################### FOOTER ####################*/

footer {
    grid-area: footer;      
    display: flex;
    flex-direction: column;
    
}

.footer {
    background-color: lime;
}

.content {
    margin: 0 auto;
    
}


.footer-info {
    
    
    
}

.footer-copyright {
    background-color: darkgreen;

}





   