@media (max-width: 37.5rem) { /* 600px*/


    header {
        
    }

    /*#################### SOCIAL MEDIA####################*/

    .social-media-section {
        cursor: pointer;
        font-size: 2.5rem;  
        display: flex; 
        justify-content:center;
        margin-bottom: 3rem;
    }

    .social-media-section a{
        text-decoration: none;
        color: var(--font-color);
    }


    .social-media-header {    
        display: none;
    }

    #menu i {
        display:contents; 
        justify-content:center;        
        font-size: 2.5rem;  
    }

    .icon-facebook {
        
        margin-right: 2rem;
    }

    #menu i {
        display:contents; 
        justify-content:center;        
        font-size: 2.5rem;  

    }

    .social-media-menu {
        display:flex;
        justify-content: center;
    }

    .social-media-menu a{
       
        text-decoration: none;
        color: var(--font-color);
    }

    /*#################### Menu ####################*/
  
    
    #menu {
        
        display: block;         
        position: absolute;
        width: 100%;        
        top: 0;
        right: 0px;
        background-color: #111010e8;
        height: 70px;        
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        

    }

    #nav.active #menu {  
        visibility: visible;        
        height: 100vh ;
       
    }

    #menu li {
        
        display:flex;
        justify-content: center;
        
        
        
    }

    #menu li:nth-child(1){
        margin-top: 50%;
    }

    #menu  a{    
        letter-spacing: .2rem;              
        font: 700 5rem var(--title-font); 
        margin-bottom: 2rem;
        
        
        
    }

    
    #menu li a:hover{
        border: 0px solid;
        color: var(--theme-color);      
        font: 700 1.6rem var(--title-font); 
        
    }

    
    

    

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background:none;
        cursor: pointer;
        gap: .5rem;
        color: #fff;
    }

    #hamburguer {
        z-index: 10000;
        border-top: 3px solid;
        width: 20px;

        
        
    }

    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;

    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);


    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;

    }

    /*#################### MAIN/SLIDER ####################*/
    
    .swiper-slide img {
        display: block;
        width: 600px;
        height: 600px;
        object-fit: cover;
      }

      .swiper-pagination { 
          display:none;
      }

      .box-text {                      
        text-align: left;
        margin-left: 1rem;
        bottom: 1rem;
        width: 95%;    
        position:absolute;    
        color: var(--font-color);
        font-size: 80%;
      }      

      .modalities { /* title-modalities */
        top: 18%;
      }

      /*#################### section-content ####################*/

      .container {
        --margin-item: 5%; 
      }

      .box-subtitle {
          right: 3.2%;
      }

      /*#################### ASIDE ####################*/

     .aside {
        max-height: 100%; 
        width: 100%;
        transform: translateX(0); 
        border-radius: 0;
     }

     .promotion {
         margin-left: 0;
         width: 100%;
         height: 3rem;
         font: 700 1.7rem var(--title-font);
     }

     .header-title .title-combo {           
        margin-top: 8rem; 
        margin-left: 17%; 
        
    }

     .promotion::before {
         visibility: hidden
     }

     .text-combo .know-more {
         
        margin-top: 5rem;
     }

     .footer-info {
         padding: 0 2rem;
     }

     .footer-logo {
         display: none;
     }

    }