

@media(min-width:75rem) {  /* ##### 1200px #####*/
    
    body {
        display: grid;
    }

    /*#################### SOCIAL MEDIA####################*/

    .social-media-section {
        display: none;
    }

    .social-media-menu {
        display: none;
    }

    /*#################### HEADER ####################*/

    header {
        display: grid;
    }

    

    /*#################### FOOTER ####################*/

    .footer .content {      
       max-width: 75rem;      

    }

    /*#################### section ####################*/

    section {
        display: grid;     
        
    }

    

    /*#################### aside ####################*/

    .aside {
      max-height: none;       
    }

}
