

@media(min-width:75rem) {  /* ##### 1200px #####*/
    
    body {
        display: grid;
    }


    /*#################### HEADER ####################*/

    header {
        display: grid;
    }

    

    /*#################### FOOTER ####################*/

     .footer-info {
        height: 12.5rem;
    }

    .footer-copyright   {
        height: 4.6rem;

    }

    .footer .content {      
       max-width: 75rem;      

    }

    /*#################### section ####################*/

    section {
        display: grid;       
        
    }

    

    /*#################### aside ####################*/

    .aside {
      max-height: none;       
    }

}
